.sidebar .nav-item .nav-link span  {
  font-size: 14pt;
}

.sidebar .nav-item .nav-link i {
  font-size: 14pt;
  margin-right: 10px;
}

.popover-button {
  transition: background-color 0.2s ease;
}
.popover-button:hover {
  background-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
.popover-button {
  height: 30px;
}

.tab-content {
  margin-top: 20px;
}

.todo-tag {
  background-color: var(--blue);
  border-radius: 10px;
  text-align: center;
  color: white;
  margin: 0 auto;
  width: fit-content;
  padding: 0 10px;
}

.form-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-container .form-col {
  width: 25%;
  min-width: 300px;
}

.form-container .form-col .card {
  height: 100%;
}

@media screen and (max-width: 1600px) {
  .form-container {
    
    justify-content: space-between;
  }

  .form-container .form-col {
    width: 32%;
  }
}

@media screen and (max-width: 1140px) {

  .form-container .form-col {
    width: 48%;
  }
}
@media screen and (max-width: 766px) {

  .form-container .form-col {
    width: 100%;
  }
  .form-container {
    justify-content: start;
  }
}
