{# Author: Richard Ondrejka #}

<div class="col">
  <div class="row" style="padding: 0.5rem 0">
    {{ include('components/button.twig', {
      'cssClass': 'btn-primary',
      'text': 'Add contact',
      'icon': 'fas fa-plus',
      'onclick': 'add_contact()'})
    }}
  </div>
  <div class="row" style="padding: 0.5rem 0">
    {{ include('components/button.twig', {
      'cssClass': 'btn-primary',
      'text': 'Add contact',
      'icon': 'fas fa-plus',
      'onclick': 'add_contact()'})
    }}
  </div>
</div>