<div class="adios ui Form item">
  <div class="input-title">{{ title }}</div>
  {% if description %}<div class="input-description">{{ description }}</div>{% endif %}
  <div class="input-content">
    <div style="max-width: 40em">
      {% for option in options %}
        <a
          href="#"
          class="btn btn-small mb-2 border {% if option == default %} btn-primary  {% endif %} mr-1 {{ btnCssClass }}"
          onclick="
            {% if not multiselect %}
              $(this).closest('.input-content').find('.btn').removeClass('btn-primary');
            {% endif %}
            if($(this).hasClass('btn-primary')) {
              $(this).removeClass('btn-primary');
            } else {
              $(this).addClass('btn-primary');
            }
          "
        >{{ option }}</a>
      {% endfor %}
    </div>
  </div>
</div>