<div class="adios ui Form item">
  <div class="input-title">{{ title }}</div>
  <div class="input-content">
    <div style='background:#000000;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#666666;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#AAAAAA;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#EEEEEE;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#FFFFFF;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#FF0000;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#00FF00;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#0000FF;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#FFFF00;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#FF00FF;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
    <div style='background:#00FFFF;display:inline-block;width:1em;height:1em;cursor:pointer;border:1px solid #AAAAAA'>&nbsp;</div>
  </div>
</div>