<div class="adios ui Form item">
  <div class="input-title">{{ title }}</div>
  {% if description %}<div class="input-description">{{ description }}</div>{% endif %}
  <div class="input-content">
    <input type="text" placeholder="DD" style="display:inline-block;width:2em">
    .
    <input type="text" placeholder="MM" style="display:inline-block;width:2em">
    .
    <input type="text" placeholder="YYYY" style="display:inline-block;width:4em">
  </div>
</div>