<div class="adios ui Form item">
  <div class="input-title">{{ title }}</div>
  <div class="input-content">
    <img src="{{ config.rewriteBase }}/assets/images/image.png" style="width:10em">
  </div>
</div>