<div class="adios ui Form item">
  <div class="input-title">{{ title }}</div>
  {% if description %}<div class="input-description">{{ description }}</div>{% endif %}
  <div class="input-content">
    <input type="text" value="{{ value }}" style="width:5em">
    {{ unit }}
  </div>
</div>