<div class="adios ui Form item">
  <div class="input-title">{{ title }}</div>
  <div class="input-content">
    <select>
      <option>Option #1</option>
      <option>Option #2</option>
      <option>Option #3</option>
    </select>
  </div>
</div>