<div class="adios ui Form item">
  <div class="input-title">{{ title }}</div>
  <div class="input-content">
    <input type="text" placeholder="HH" style="display:inline-block;width:2em">
    :
    <input type="text" placeholder="MM" style="display:inline-block;width:2em">
  </div>
</div>